Source: ros-kilted-auto-apms-behavior-tree
Section: misc
Priority: optional
Maintainer: Robin Müller <mue.robin@icloud.com>
Build-Depends: debhelper (>= 9.0.0), ros-kilted-ament-cmake, ros-kilted-ament-cmake-copyright <!nocheck>, ros-kilted-ament-cmake-python, ros-kilted-ament-index-python, ros-kilted-auto-apms-behavior-tree-core, ros-kilted-auto-apms-interfaces, ros-kilted-auto-apms-util, ros-kilted-generate-parameter-library, ros-kilted-geometry-msgs, ros-kilted-rcl-interfaces, ros-kilted-rclcpp, ros-kilted-rclcpp-action, ros-kilted-rclcpp-components, ros-kilted-std-srvs, ros-kilted-tf2-geometry-msgs, ros-kilted-tinyxml2-vendor, ros-kilted-ros-workspace
Homepage: https://autoapms.github.io/auto-apms-guide/
Standards-Version: 3.9.2

Package: ros-kilted-auto-apms-behavior-tree
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kilted-ament-index-python, ros-kilted-auto-apms-behavior-tree-core, ros-kilted-auto-apms-interfaces, ros-kilted-auto-apms-util, ros-kilted-generate-parameter-library, ros-kilted-geometry-msgs, ros-kilted-rcl-interfaces, ros-kilted-rclcpp, ros-kilted-rclcpp-action, ros-kilted-rclcpp-components, ros-kilted-rclpy, ros-kilted-ros2cli, ros-kilted-ros2param, ros-kilted-std-srvs, ros-kilted-tf2-geometry-msgs, ros-kilted-tinyxml2-vendor, ros-kilted-ros-workspace
Description: Standard AutoAPMS behavior tree nodes and deployment tools
